* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s, color 0.3s;
}

/* Light Theme */

body.light {
    background-color: #ffffff;
    color: #222222;
}

/* Dark Theme */

body.dark {
    background-color: #181818;
    color: #ffffff;
}

.container {
    width: 400px;
    padding: 40px;

    text-align: center;

    border-radius: 15px;
    background-color: #eeeeee;

    transition: background-color 0.3s;
}

body.dark .container {
    background-color: #292929;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 25px;
    line-height: 1.6;
}

button {
    padding: 12px 20px;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}